---
layout: default
---

<div class="home">
  <div class="lastest-entry">
    <h1 class="entry-title">
    {% assign post = site.posts.first %}
    {% assign content = post.content %}
    {% if post.title %}
    #{{ post.id }}.  <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
    {% endif %}
    </h1>
    <audio class="episode-player" controls="">
      <source src="{{ post.audiolink }}" />
    </audio>
    <div class="entry-content">{{ content }}</div>
  </div>

  <ul class="post-list">
    {% for post in site.posts offset:1 %}
      <li>
        <div class="post-date">
          <div class="day">{{ post.date | date: "%-d" }}</div>
          <div class="month">{{ post.date | date: "%b/%Y" }}</div>
        </div>
        <div class="post-info">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <audio class="episode-player" controls="">
            <source src="{{ post.audiolink }}" />
          </audio>
        </div>
        <div class="post-summary">
          {{ post.excerpt }}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
