---
layout: default
---

<div class="home">
  <div class="lastest-entry">
    <h1 class="entry-title">
    {% assign post = site.posts.first %}
    {% assign content = post.content %}
    {% if post.title %}
      <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
    {% endif %}
    </h1>
    <div class="entry-content">{{ content }}</div>
  </div>
  <!--
  <h1 class="page-heading">Posts</h1>
  -->

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <div class="post-date">
          <div class="day">{{ post.date | date: "%-d" }}</div>
          <div class="month">{{ post.date | date: "%b/%Y" }}</div>
        </div>
        <div class="post-info">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </div>
        <div class="post-summary">
          {{ post.excerpt }}
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
