/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    height: 500px;
    background-image: url(/images/header_bg.jpg);
    background-position: center;
    background-size: cover;

    // Positioning context for the mobile navigation icon
    position: relative;
    box-shadow: 0px 1.5px 3px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    @include media-query($on-palm) {
        height: 300px;
    }
}

.site-title {
    font-size: 36px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    background: $grey-color-dark;
    padding: 5px 30px;
    box-shadow: 0px 1.5px 3px 0px rgba(0, 0, 0, 0.1);

    &,
    &:visited {
        color: #fff;
    }

    &:hover {
        text-decoration: none;

        img {
            -webkit-transform: rotate(-8deg);
            -moz-transform: rotate(-8deg);
            transform: rotate(-8deg);
        }
    }

    img {
        width: 40px;
        vertical-align: top;
        position: relative;
        top: 8px;
        margin-right: 20px;
    }

    @include media-query($on-palm) {
        font-size: 22px;
        line-height: 42px;
        padding: 3px 15px;

        img {
            width: 26px;
            top: 8px;
            margin-right: 10px;
        }
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        z-index: 100;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

.site-description {
    position: absolute;
    width: 50%;
    bottom: 20%;
    right: 10%;
    background: rgba(255, 255, 255, 0.5);
    padding: 2%;
    color: $grey-color-dark;
    font-size: 14px;

    @include media-query($on-palm) {
        width: 70%;
        bottom: 10%;
        font-size: 12px;
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background: #f0e9e4;

    p {
        margin: 0;
        font-size: 12px;
        text-align: center;
        color: $grey-color-dark;
        position: relative;
    }

    a {
        color: $grey-color-dark;
    }

    img {
        width: 48px;
        height: 48px;
        position: absolute;
        margin-top: -24px;
        top: 50%;
        right: 0;
        cursor: pointer;
        opacity: 0.5;

        &:hover + .zhifubao-qr {
            display: block;
        }

        @include media-query($on-palm) {
            width: 64px;
            height: 64px;
            position: relative;
            margin: 20px auto 0 auto;
            top: 0;
            display: block;
            opacity: 1;

            &:hover + .zhifubao-qr {
                display: none;
            }
        }
    }

    .zhifubao-qr {
        width: 148px;
        height: 20px;
        line-height: 20px;
        padding-top: 138px;
        padding-bottom: 5px;
        background: #fff;
        border: 1px solid $grey-color;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        position: absolute;
        bottom: 50px;
        right: -10px;
        background-image: url(/images/zhifubao.jpg);
        background-repeat: no-repeat;
        background-size: 128px 128px;
        background-position: 10px 10px;
        font-size: 12px;
        text-align: center;
        font-style: normal;
        display: none;

        &:before {
            content: "";
            border-top: 10px solid $grey-color;
            border-left: transparent 10px solid;
            border-right: transparent 10px solid;
            position: absolute;
            bottom: -11px;
            right: 25px;
        }

        &:after {
            content: "";
            border-top: 10px solid #fff;
            border-left: transparent 10px solid;
            border-right: transparent 10px solid;
            position: absolute;
            bottom: -10px;
            right: 25px;
        }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.lastest-entry,
.post,
.post-comment {
    background: #fff;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 2%;
    margin-bottom: 50px;
}

.page-content {
    padding-top: $spacing-unit;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    

    li {
        background: #fff;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
        padding: 2%;
        margin-bottom: 50px;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;

    a {
        color: $grey-color;
    }
}

.post-date {
    max-width: 80px;
    width: 16%;
    display: inline-block;

    .day {
        width: 60px;
        height: 60px;
        font: normal normal bold 2.4rem/4.9rem "Verdana",sans-serif;
        background: $grey-color;
        color: #fff;
        text-align: center;
        margin: 10px auto;
    }

    .month {
        text-align: center;
        font-weight: bold;
        color: $grey-color-dark;
    }

    @include media-query($on-palm) {
        display: block;
        width: auto;
        max-width: 100%;
    }
}

.post-info {
    padding: 0 20px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    box-sizing: border-box;

    @include media-query($on-palm) {
        padding: 0;
        display: block;
        width: auto;
    }
}

.post-summary {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    opacity: 0.5;

    @include media-query($on-palm) {
        display: block;
        width: auto;
    }
}

.post-link {
    display: block;
    font-size: 24px;
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .lastest-entry,
    .post-list li {
        padding: 15px 25px;
    }
}



/**
 * Posts
 */

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.episode-player {
  width: 600px;
  max-width: 100%;
  margin-bottom: 20px;
}